@import "../components/common/animation.scss";
.home {
        display: flex;
        justify-content: center;
        color: #fefefe;
        animation: FadeIn 0.2s;
        display: flex;
        flex-direction: column;
        align-items: center;
}
