@keyframes FadeIn {
        0% {
                opacity: 0;
        }
        100% {
                opacity: 1;
        }
}
@keyframes SlideIn {
        0% {
                transform: translateX(20%);
        }
        100% {
                transform: translateX(0%);
        }
}
