.auth {
        background-image: linear-gradient(97.8deg, #5375e2 0.25%, #5375e2 49.61%, #f87986 100%);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
}
