.container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 64px 208px;
        margin-bottom: 128px;
        width: 100%;
        position: relative;
        &::before {
                top: 0;
                left: 0;
                position: absolute;
                background-image: linear-gradient(97.8deg, #5375e2 0.25%, #5375e2 49.61%, #f87986 100%);
                content: "";
                z-index: -1;
                clip-path: polygon(0 0, 100% 0, 100% 45%, 0 54%);
                display: block;
                width: 100%;
                height: 100%;
                background-color: white;
        }
}
.form-container {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(97.8deg, #5375e2 0.25%, #5375e2 49.61%, #f87986 100%);
}
